PORT=5000
MONGO_URI=mongodb+srv://akankshamuthe2625_db_user:synthora11@cluster.mongodb.net/synthora?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
CLIENT_URL=http://localhost:5173

# Required for sending real emails.
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=akanshamuthe2625@gmail.com
SMTP_PASS=ukva sndt jxak cqmq
MAIL_FROM="Synthora <akanshamuthe2625@gmail.com>"
